<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Pagina de registro:</h1>
    <form action="/api/register" method="post">
        Usuario: <input type="text" placeholder="Ingrese un usuario" name="username" >
        Password: <input type="password" placeholder="Ingrese una password" name="password">
        Email: <input type="email" placeholder="mail@mail.com" name="email">
        Nombre: <input placeholder="FirstName" type="text" name='firstName'>
        Apellido: <input placeholder="lastName" type="text" name='lastName'>
        Direccion: <input placeholder="Direccion" type="text" name='address' >
        Telefono: <input placeholder="Telefono" type="tel" name='phone' >
        Edad: <input placeholder="Edad" type="text" name='edad' >
        Foto o Avatar: <input type="file" name="avatar" class="input-group mb-3"> 
        <input type="submit" value="Crear">
    </form>
</body>
</html>